*,
*:after,
*:before
  box-sizing: border-box
*
  outline: none
button
  width: 243px
  height: 60px
  line-height: 22px
  font-size: 22px
  font-weight: 400
  border: none
  color: #ffffff
  border-radius: 5px
  background-image: linear-gradient(49deg, #fb6a4e 0%, #ff606a 100%)
  cursor: pointer
img
  max-width: 100%
body
  +comic
  font-size: 14px
  background-image: url('../img/bg/1.png')
  background-repeat: no-repeat
  background-position: top right
  background-size: 75%
input
  padding-left: 2px
  padding-bottom: 6px
  padding-right: 139px
  color: #434949
  font-size: 16px
  border: none
  border-bottom: 2px solid #32cfb6
  background: transparent
  &:nth-of-type(2)
    font-weight: 700
label
  color: #1db8a4
  text-transform: uppercase
  font-weight: 400
  margin-right: auto
.container
  max-width: 1207px
  margin: 0 auto
.section
  &-title
    font-size: 30px
    font-weight: bold
    text-transform: uppercase
    color: #272f2f