.request
  padding-bottom: 314px
  background: url(../img/bg/right.png) no-repeat bottom left
  &__title
    text-align: center
    margin-bottom: 82px
  &-box
    display: flex
    justify-content: space-between
    align-items: center
  &-form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__input
      margin-bottom: 34px
      &:nth-of-type(2)
        margin-bottom: 50px 
    &__label
      margin-bottom: 21px